.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.photo-link {
  flex-basis: calc((100% - 60px) / 4);
}

.photo-card img {
  display: block;
  margin: 0 auto;
  width: 250px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.unvisible {
  display: none;
}
